<div class="container-fluid">
  <!-- <a class="navbar-brand" href="#">SimpleTODO</a> -->
  <h4 class="app-navbar-brand">Kanban Board</h4>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <h5 class="app-navbar-greetings" id="greetings"></h5>
      </li>
    </ul>
    <div class="d-flex">
      <!-- <h5 class="app-navbar-greetings" id="greetings"></h5> -->
      <div class="avatar">
        <!-- <span class="avatar__icon"></span> -->
        <img src="../svg/user-menu-close.svg" alt="user-menu" />
        <img src="../svg/user-menu-open.svg" alt="user-menu" />
      </div>
      <!-- <h5 class="app-navbar-greetings" id="username"></h5> -->
      <button
        id="app-adduser-btn"
        class="btn btn-outline-info app-btn--invisible"
        type="button"
      >
        Add New User
      </button>
      <button
        id="app-deleteuser-btn"
        class="btn btn-outline-info app-btn--invisible"
        type="button"
      >
        Delete user
      </button>
      <button id="app-logout-btn" class="btn btn-outline-info" type="button">
        Sign Out
      </button>
    </div>
  </div>
</div>
