<h1>Your tasks here</h1>
<div class="container">
  <div class="column">
    <h4>Backlog</h4>
    <ul class="task-column backlog"></ul>
    <button id="app-addtask-btn">Add Task</button>
  </div>
  <div class="column">
    <h3>Ready</h3>
    <ul class="task-column ready"></ul>
    <button id="app-addtask-btn-loc">Local</button>
  </div>
  <div class="column">
    <h3>In Progress</h3>
    <ul class="task-column inprogress"></ul>
    <button id="app-addtask-btn">Add Task</button>
  </div>
  <div class="column">
    <h3>Finished</h3>
    <ul class="task-column finished"></ul>
    <button id="app-addtask-btn">Add Task</button>
  </div>
</div>
