<h1>Your tasks here</h1>
<div class="container">
  <div class="app-column">
    <h4>Backlog</h4>
    <!-- <ul class="app-task-column backlog"></ul> -->
    <ul class="app-task-column backlog">
      <!-- <ul class="app-task__user">
        ${task.own}:
        <li class="task__item">${task.name}</li>
      </ul> -->
    </ul>

    <button id="backlog-addtask-btn" class="" type="button">Add Task</button>
  </div>
  <div class="app-column ready">
    <h4>Ready</h4>
    <ul class="app-task-column ready"></ul>
    <button id="ready-addtask-btn">Add Task</button>
  </div>
  <div class="app-column">
    <h4>In Progress</h4>
    <ul class="app-task-column inprogress"></ul>
    <button id="inprogress-addtask-btn">Add Task</button>
  </div>
  <div class="app-column">
    <h4>Finished</h4>
    <ul class="app-task-column finished"></ul>
    <button id="finished-addtask-btn">Add Task</button>
  </div>
</div>
