.body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

header,
footer {
  background-color: #0067a3;
  height: 55px;
}

main {
  background-color: #0079bf;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

ul {
  padding: 5px;
}

li {
  list-style-type: none;
}

h2,
h4,
h5 {
  margin: 0 auto;
  text-align: center;
}

.btn {
  margin: 0px 10px 0px 10px;
}

.btn-light {
  background-color: #ebecf0;
  font-size: 18px;
  font-weight: 600;
  color: #5e6c84;
}

.btn-light:disabled {
  font-weight: 400;
}

.app-footer {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.input-task-label {
  justify-content: start;
}

#app-login-btn {
  width: 160px;
}

/* .app-task {
  display: flex;
} */

.app-column {
  width: 20vw;
  height: fit-content;
  max-height: 80vh;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 2%;
  background-color: #ebecf0;
  overflow: auto;
}

.app-task-column {
  min-height: 200px;
  width: auto;
  margin: 0px auto;
}

.app-task__user {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 20px 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.app-task__item {
  background-color: #ffffff;
  margin: 20px 2%;
  padding: 2% 3%;
  border-radius: 5px;
  word-break: break-all;
  cursor: pointer;
  text-align: left;
}

.app-avatar {
  display: flex;
  cursor: pointer;
}

/* .avatar__icon {
  width: 40px;
  height: 40px;
  margin: 0px 10px 0px 10px;
  border: 3px solid white;
  border-radius: 20px;
} */

.invisible {
  display: none;
}

.app-navbar-brand {
  /* font-family: Roboto, Arial, Helvetica, sans-serif; */
  font-size: 28px;
  font-weight: 400;
  /* line-height: 33px; */
  /* letter-spacing: 0em; */
  /* text-align: left; */
  color: white;
  /* justify-content: center; */
  padding: 0;
}

.app-navbar-greetings {
  /* font-family: Roboto, Arial, Helvetica, sans-serif; */
  font-size: 20px;
  font-weight: 400;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 0;
}

#content {
  min-height: calc(100vh - 110px);
  width: 100%;
}

#content h2 {
  color: #f5f5f5;
  margin: 2%;
}

.app-footter-info {
  margin: 0 1vw;
}

#app-login-form input {
  background-color: #edebeb;
  cursor: pointer;
}

#app-login-form input:hover,
#app-login-form input:focus {
  background-color: #95d6f5;
}

.modal-content {
  background-color: #ebecf0;
}

.modal-content input {
}

.app-popup {
  background-color: #ebecf0;
  position: absolute;
  top: 55px;
  right: 0;
  border: black solid 1px;
}

.app-popup__item {
  cursor: pointer;
  margin: 20px;
}
