.body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul {
  padding: 5px;
}

li {
  list-style-type: none;
}

h4 {
  margin: 0 auto;
  text-align: center;
}

.btn {
  margin: 0px 10px 0px 10px;
}

#app-login-btn {
  width: 160px;
}

.container {
  display: flex;
}

.app-column {
  width: 20vw;
  height: fit-content;
  max-height: 80vh;
  border: 1px solid black;
  border-radius: 10px;
  padding: 12px;
  margin: 5px;
  background-color: #ebecf0;
  overflow: auto;
}

.app-task-column {
  min-height: 200px;
  width: auto;
  margin: 5px auto;
}

.app-task__user {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

.app-task__item {
  background-color: #ffffff;
  margin: 2%;
  border-radius: 5px;
  word-break: break-all;
  cursor: pointer;
  text-align: left;
}

.avatar {
  display: flex;
}

.avatar__icon {
  width: 40px;
  height: 40px;
  margin: 0px 10px 0px 10px;
  border: 3px solid white;
  border-radius: 20px;
}

/* проверить все ли классы используются в коде */
.app-btn--invisible,
.input-user-form--invisible,
.button-input--invisible,
.button-task-delete--invisible {
  display: none;
}

.invisible {
  display: none;
}

/* .input-user-form--invisible {
  display: none;
} */

.app-navbar-brand {
  /* font-family: Roboto, Arial, Helvetica, sans-serif; */
  font-size: 28px;
  font-weight: 400;
  /* line-height: 33px; */
  /* letter-spacing: 0em; */
  /* text-align: left; */
  color: white;
  /* justify-content: center; */
  padding: 0;
}

.app-navbar-greetings {
  /* font-family: Roboto, Arial, Helvetica, sans-serif; */
  font-size: 20px;
  font-weight: 400;
  color: white;
  /* justify-content: center; */
  padding: 0;
}

/* #greetings {
} */
